<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>친구 상품 목록</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <!-- iamport.payment.js -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <link th:href="@{/css/friendsGoods.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/friendsGoods.js}"></script>
</head>
<body>
<h2>친구 상품 목록</h2>
<form th:action="@{/main/home}" method="get">
    <input type="submit" value="돌아가기">
</form>
<table>
    <tr>
        <th>상품명</th>
        <th>판매자</th>
        <th>가격</th>
        <th>설명</th>
        <th>수량</th>
        <th>
            <div class="user-info">
                <span class="point-info" th:text="'point: ' + ${userDTO.point}"></span>
                <!-- 여기 포인트 충전 버튼을 만들어 -->
            </div>
        </th>
    </tr>
    <tr th:each="goods: ${friendsGoodsList}">
        <td th:text="${goods.name}"></td>
        <td th:text="${goods.seller}"></td>
        <td th:text="${goods.price}"></td>
        <td th:text="${goods.description}"></td>
        <td th:text="${goods.stock}"></td>
        <td>
            <button onclick="payPoint(this)"
                    th:attr="data-goods-id=${goods.id},
                            data-goods-name=${goods.name},
                            data-goods-price=${goods.price},
                            data-goods-stock=${goods.stock},
                            data-seller-user-id=${goods.userId},
                            data-buyer-user-id=${userDTO.userId}"
                    th:disabled="${goods.stock <= 0}">
                구매하기
            </button>
            <p class="alert-message" th:if="${goods.stock <= 0}">재고 부족</p>
        </td>
    </tr>
</table>
</body>
</html>
