<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>flea friend</title>
    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <!-- iamport.payment.js -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <link th:href="@{/css/home.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/home.js}"></script>
</head>
<body>
<div class="header">
    <div class="user-info">
        <span class="point-info" th:text="'point: ' + ${userDTO.point}"></span>
        <button class="point-button" onclick="requestPoint(this)">
            포인트 충전
        </button>
    </div>

    <h1 class="animated-text">
        <span class="animated-text" th:text="${userDTO.nickname}"></span>님 환영합니다!
    </h1>

    <div class="button-container">
        <a class="action-button" th:href="@{|${agreeUrl}|}">친구목록 동의</a>
        <form class="action-form" th:action="@{/kakao/friendsInfo}" method="get">
            <input type="submit" value="친구목록 불러오기">
        </form>
        <form class="action-form" th:action="@{/kakao/logout}" method="get">
            <input type="submit" value="로그아웃">
        </form>
        <form class="action-form" th:action="@{/kakao/unlink}" method="get">
            <input type="submit" value="연결끊기">
        </form>
    </div>
</div>

<div class="body">
    <h2>신뢰 장터</h2><br><br>
    <div class="button-body">
        <form class="action-body" th:action="@{/trust/goods}" method="get">
            <input type="submit" value="상품 게시">
        </form>
        <form class="action-body" th:action="@{/trust/friendsGoods}" method="get">
            <input type="submit" value="친구 상품 보기">
        </form>
        <form class="action-body" th:action="@{/trust/myGoods}" method="get">
            <input type="submit" value="내 상품 보기">
        </form>
        <form class="action-body" th:action="@{/trust/allGoods}" method="get">
            <input type="submit" value="모든 상품 보기">
        </form>
    </div>
</div>
</body>
</html>
