<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>친구 상품 목록</title>
  <!-- jQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <!-- iamport.payment.js -->
  <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
  <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
  <link th:href="@{/css/myGoodsList.css}" rel="stylesheet" />
  <script type="text/javascript" th:src="@{/js/myGoodsList.js}"></script>
</head>
<body>
<h2>친구 상품 목록</h2>
<form th:action="@{/main/home}" method="get">
  <input type="submit" value="돌아가기">
</form>
<table>
  <tr>
    <th>상품명</th>
    <th>가격</th>
    <th>설명</th>
    <th>수량</th>
    <th>수정</th>
  </tr>
  <tr th:each="goods: ${myGoodsList}">
    <td th:text="${goods.name}"></td>
    <td th:text="${goods.price}"></td>
    <td th:text="${goods.description}"></td>
    <td th:text="${goods.stock}"></td>
    <td>
      <button onclick="detailAndUpdate(this)" th:attr="data-goods-id=${goods.id}">
        수정하기
      </button>
    </td>
  </tr>
</table>
</body>
</html>
