<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>상품 게시</title>
  <link th:href="@{/css/postForm.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
  <h1>상품 게시 페이지</h1>
  <form th:action="@{/main/home}" method="get">
    <input type="submit" value="돌아가기">
  </form>
  <form action="/trust/goods" method="post">
    <label for="name">상품 이름</label>
    <input class="input" type="text" name="name" id="name" required><br>
    <label for="price">가격</label>
    <input class="input" type="number" name="price" id="price" required><br>
    <label for="description">상품 설명</label>
    <textarea class="input" name="description" id="description" cols="30" rows="10" required></textarea><br>
    <label for="stock">재고</label>
    <input class="input" type="number" name="stock" id="stock" required><br>
    <input type="submit" value="상품 게시">
  </form>
</div>
</body>
</html>
