<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>신뢰 장터</h2>
    <form th:action="@{/trust/goods}" method="get">
        <input type="submit" value="상품 게시">
    </form>
    <br><br>
    <form th:action="@{/trust/friendsGoods}" method="get">
        <input type="submit" value="친구 상품 보기">
    </form>
    <br><br>
    <form th:action="@{/trust/allGoods}" method="get">
        <input type="submit" value="모든 상품 보기">
    </form>
    <br><br>
    <form th:action="@{/main/home}" method="get">
        <input type="submit" value="홈화면으로">
    </form>

</body>
</html>