<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>post</title>
    <link th:href="@{/css/updateForm.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
    <form th:action="@{/trust/myGoods}" method="get">
        <input type="submit" value="돌아가기">
    </form>
    <form action="/trust/goods/" method="post">
        <input type="hidden" name="id" th:value="${goods.id}">
        <label for="name">상품 이름</label>
        <input type="text" name="name" id="name" th:value="${goods.name}" required> <br>
        <label for="price">가격</label>
        <input class="input" type="number" name="price" id="price" th:value="${goods.price}" required><br>
        <label for="description">상품 설명</label>
        <textarea class="input" name="description" id="description" cols="30" rows="10" th:utext="${goods.description}" required></textarea><br>
        <label for="stock">재고</label>
        <input class="input" type="number" name="stock" id="stock" th:value="${goods.stock}" required><br>
        <input type="submit" value="goods 수정">
    </form>
</div>
</body>
</html>